VITE_SUPABASE_URL=https://hgytzvhrnbkpfvgodwyn.supabase.co
VITE_SUPABASE_ANON_KEY=your_supabase_anon_key
VITE_CHARGILY_SECRET_KEY=your_chargily_secret_key
VITE_ONESIGNAL_APP_ID=acccfba5-e13c-4bd5-a2ad-d7f9e4f15c62
