@import "leaflet/dist/leaflet.css";
@import "tailwindcss";

@theme {
  --font-sans: "Tajawal", sans-serif;
}

@layer base {
  body {
    background-color: var(--color-orange-50);
    color: var(--color-gray-900);
    font-family: var(--font-sans);
  }
}
